<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>CAPS Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="CAPS" name="description" />
    <meta content="CAPS" name="author" />
{% load static %}
    <!-- App favicon -->

    <!-- App css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" type="text/css" />
    <style>
        body{
            background-color: rgb(243, 240, 216) !important;
            font-family:Georgia, 'Times New Roman', Times, serif
        }
        .menu-item {
            text-decoration: none; /* Remove underlines */
            font-size: 25px; /* Increase font size */
            transition: font-size 0.2s ease; /* Add transition */
        }
    
        .menu-item:hover {
            font-size: 20px; /* Increase font size on hover */
        }
               /* Styles for page content */
.span{
    font-size:17px;
}
span:hover{
    font-size:20px;
    color: white;
    background-color:rgb(75, 75, 0);
    width: 30px;
    padding:5px;
    text-align: center;
    border: 1px solid green;
    border-radius:15px;
}
.btn{
    margin: 15px;
    background-color: rgb(84, 175, 255);
    color: white;
    padding: 5px;
} 
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(51, 90, 219);
}
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-en.js"></script>


</head>

<body>
    

    <!-- Begin page -->
    <div id="layout-wrapper">
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!-- LOGO -->
        <div class="navbar-brand-box">
            <a href="{% url 'index' %}" class="logo">
                <div>
                    <img src="{% static 'images/unnamed copy.png' %}" alt="" height="130px" width="130px">
                </div>
              
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">In ODIs</li>
        
                <li>
                    <a href="{% url 'dashboard' %}" class="menu-item"><i class="feather-home"></i><span>Winning Analysis</span></a>
                </li>
        
                <li>
                    <a href="{% url 'Toss' %}" class="menu-item"><i class="feather-copy"></i><span>Toss Impact</span></a>
                </li>
                <li>
                    <a href="{% url 'decision' %}" class="menu-item"><i class="feather-users"></i><span>Decisions</span></a>
                </li>
                <li>
                    <a href="{% url 'team_stats' %}" class="menu-item"><i class="feather-users"></i><span>Team Analysis</span></a>
                </li>
        
                <li class="menu-title">In T20I</li>
        
                <li>
                    <a href="{% url 't20Analysis' %}" class="menu-item"><i class="feather-home"></i><span>Winning Analysis</span></a>
                </li>
        
                <li>
                    <a href="{% url 't20Analysis' %}" class="menu-item"><i class="feather-copy"></i><span>Batting First</span></a>
                </li>
                <li>
                    <a href="{% url 't20Analysis' %}" class="menu-item"><i class="feather-users"></i><span>Fielding First</span></a>
                </li>
                <li>
                    <a href="{% url 't20stats' %}" class="menu-item"><i class="feather-users"></i><span>Team Analysis</span></a>
                </li>
                <li class="menu-title">Predictions</li>
        
                <li>
                    <a href="{% url 't20Analysis' %}" class="menu-item has-arrow"><i class="feather-briefcase"></i><span>T20I</span></a>
                </li>
        
                <li>
                    <a href="http://localhost:8501/" class="menu-item has-arrow"><i class="feather-bar-chart-2"></i><span>ODIs</span></a>
                </li>
            </ul>
        </div>
        
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->

<section style="margin-left: 250px">
    <br><br>
    <h4>Total Matches played between {{team1}} and {{team2}} are {{total_matches_played_team1_vs_team2}}</h4>
<br>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">

        <!-- Graph for Wins Against Each Other -->
        <div class="graph-container" style="width: 50%; border: 2px solid pink;">
            {{ fig_wins_vs_each_other|safe }}
            <button onclick="toggleTable('wins_vs_each_other')" class="btn">Show Wins Against Each Other</button>
            <div id="wins_vs_each_other" style="display: none;" class="table-container">
                <p>Total Matches Played between {{ team1 }} and {{ team2 }}: {{ total_matches_played_team1_vs_team2 }}</p>
                <p>Wins for {{ team1 }} against {{ team2 }}: {{ wins_team1_vs_team2 }}</p>
                <p>Wins for {{ team2 }} against {{ team1 }}: {{ wins_team2_vs_team1 }}</p>
            </div>
        </div>
        
        <!-- Graph for Batting First Wins -->
        <div class="graph-container" style="width: 50%; border: 2px solid pink;">
            {{ fig_bat_first_wins|safe }}
            <button onclick="toggleTable('bat_first_wins')" class="btn">Show Batting First Wins</button>
            <div id="bat_first_wins" style="display: none;" class="table-container">
                <p>Batting First Wins for {{ team1 }}: {{ bat_first_wins_team1 }}</p>
                <p>Batting First Wins for {{ team2 }}: {{ bat_first_wins_team2 }}</p>
            </div>
        </div>
        
        <!-- Graph for Bowling First Wins -->
        <div class="graph-container" style="width: 50%; border: 2px solid pink;">
            {{ fig_bowl_first_wins|safe }}
            <button onclick="toggleTable('bowl_first_wins')" class="btn">Show Bowling First Wins</button>
            <div id="bowl_first_wins" style="display: none;" class="table-container">
                <p>Bowling First Wins for {{ team1 }}: {{ bowl_first_wins_team1 }}</p>
                <p>Bowling First Wins for {{ team2 }}: {{ bowl_first_wins_team2 }}</p>
            </div>
        </div>
        
        <!-- Graph for Batting First Wins and Bowling First Wins -->
        <!-- <div class="graph-container" style="width: 50%; border: 2px solid pink;">
            {{ fig_wins_and_losses|safe }}
            <button onclick="toggleTable('wins_and_losses')" class="btn">Show Batting & Bowling First Wins</button>
            <div id="wins_and_losses" style="display: none;" class="table-container">
                <p>Batting First Wins for {{ team1 }}: {{ bat_first_wins_team1 }}</p>
                <p>Batting First Wins for {{ team2 }}: {{ bat_first_wins_team2 }}</p>

            </div>
        </div> -->
        
      
        
        <!-- Total Matches Played Bar Graph -->
        <!-- <div class="graph-container" style="width: 50%; border: 2px solid pink;">
            {{ fig_total_matches|safe }}
            <button onclick="toggleTable('total_matches_table')" class="btn">Show Total Matches Played</button>
            <div id="total_matches_table" style="display: none;" class="table-container">
                <p>Total Matches Played: {{ total_matches_played_team1_vs_team2 }}</p>
            </div>
        </div>
     -->
        <!-- Total Wins Bar Graph -->
        <!-- <div class="graph-container" style="width: 50%; border: 2px solid pink;">
            {{ fig_total_wins|safe }}
            <button onclick="toggleTable('total_wins_table')" class="btn">Show Total Wins</button>
            <div id="total_wins_table" style="display: none;" class="table-container">
                <p>Total Wins: {{ wins_team1_vs_team2 }}+{{ wins_team2_vs_team1 }}</p>
            </div>
        </div>
    </div> -->
    

    <script>
        function toggleTable(id) {
            var table = document.getElementById(id);
            if (table.style.display === "none") {
                table.style.display = "block";
            } else {
                table.style.display = "none";
            }
        }
    </script>
</section>


    <!-- Overlay-->
    <div class="menu-overlay"></div>


    <!-- jQuery  -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- MetisMenu -->
    <script src="{% static 'js/metismenu.min.js' %}"></script>
    <!-- Simplebar -->
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'js/theme.js' %}"></script>

</body>

</html>